.btn {
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  font-family: $openSans;
  font-weight: 500;
  color: #fff;
  background: #010001;
  padding: 15px 30px;
  margin-right: 15px;
  outline: none;

  &:active {
    transform: scale(1.05);
  }

  &:hover {
    background: #274581;
  }

  &.blue {
    background: #4178ed;

    &:hover {
      background: #274581;
    }
  }
}

.btn.inverted {
  color: $b;
  border: solid 2px $b;
  background: rgba(255, 255, 255, 0.849);
}

.btn.inverted:hover {
  color: $w;
  background: $b;
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 15px 15px;
  }
}
