.cart-dropdown {
  position: absolute;
  right: 0;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 340px;
  border: 1px solid $b;
  padding: 20px;
  top: 100%;
  z-index: 1000;
  background: $w;

  .cart-dropdown-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    // overflow-y: scroll;
    margin-bottom: auto;
  }

  .btn {
    margin: 0;
    justify-self: flex-end;
  }
}
